.parent {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.child {
  background: peru;
  height: 200px;
  flex-basis: 300px;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.child:nth-child(2) {
  background: black;
  flex-grow: 1;
}
